extends layout

block content
  script(type="text/x-handlebars" data-template-name="stores")
    h1 TinyStore™

    ul#stores
    {{#each}}
    {{#link-to 'tinystore' this tagName='li'}}{{name}}{{/link-to}}
    {{/each}}

  script(type="text/x-handlebars" data-template-name="tinystore")
    h1 {{name}}
    {{#each products}}
    section
      {{product-info product=this}}
      | <button {{action 'markProduct' this}}>Mark</button>
    {{/each}}

  script(type="text/x-handlebars" data-template-name="components/product-info")
    h1 {{product.name}}
    | <img {{bind-attr src="product.image"}}>
    p Price: {{product.price}}€
